[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/leaguestudent/git/level-0-module-4-HelloWorld9018/src/_02_wheres_waldo/wheres_waldo/where-is-waldo-600x450.jpg
Type=Link
URL=file:///home/leaguestudent/git/level-0-module-4-HelloWorld9018/src/_02_wheres_waldo/wheres_waldo/where-is-waldo-600x450.jpg
Icon=image-jpeg
